# top priority
priority 1

# a commmon c file
snippet c
	#include <stdio.h>
	#include <string.h>
	#include <math.h>
	#include <stdlib.h>
	#include <unistd.h>

	int main(int argc, char *argv[])
	{
		${0}
		return 0;
	}
